body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

h1 {
    font-size: 150px;
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    margin: auto;
}

.imgYrgo {
    grid-column: 1 / -1;
}

.centerImage {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: repeat(auto-fill, 100%);
    }


}